<div class="app-main">
    <div class="app-animation">
        <div class="beng beng-on">
            <table border="1" class="tb">
                <tr>
                    <th>运行频率</th>
                    <td>50Hz</td>
                </tr>
                <tr>
                    <th>运行电流</th>
                    <td>30A</td>
                </tr>
                <tr>
                    <th>运行电压</th>
                    <td>380V</td>
                </tr>
                <tr>
                    <th>PID设定</th>
                    <td>10Mpa</td>
                </tr>
                <tr>
                    <th>PID反馈</th>
                    <td>8Mpa</td>
                </tr>
                <tr>
                    <th>模块温度</th>
                    <td>30℃</td>
                </tr>
            </table>
        </div>
        <div class="fa fa1 fa-off ">
            <div class="fa-offline"></div>
            <span class="fa-name">阀1</span>
            <span class="fa-attr trsf">土壤水分: 30%</span>
        </div>
        <div class="fa fa2 fa-on">
            <div class="fa-online"></div>
            <span class="fa-name">阀2</span>
        </div>
        <div class="fa fa3 fa-on">
            <div class="fa-online"></div>
            <span class="fa-name">阀3</span>
        </div>
        <div class="fa fa4 fa-off">
            <div class="fa-offline"></div>
            <span class="fa-name">阀4</span>
        </div>
        <div class="fa fa5 fa-on">
            <div class="fa-online"></div>
            <span class="fa-name">阀5</span>
        </div>
        <div class="fa fa6 fa-off">
            <div class="fa-offline"></div>
            <span class="fa-name">阀6</span>
        </div>
        <div class="fa fa7 fa-off">
            <div class="fa-offline"></div>
            <span class="fa-name">阀7</span>
        </div>
        <div class="fa fa8 fa-on">
            <div class="fa-online"></div>
            <span class="fa-name">阀8</span>
        </div>
    </div>
</div>