<script id="tpl-animation" type="text/html">
    <div class="beng beng-{{if beng.state === '1'}}on{{else}}off{{/if}}">
        <table border="1" class="tb">
            <tr>
                <th>运行频率</th>
                <td>{{beng.pl}}Hz</td>
            </tr>
            <tr>
                <th>运行电流</th>
                <td>{{beng.yxdl}}A</td>
            </tr>
            <tr>
                <th>运行电压</th>
                <td>{{beng.yxdy}}V</td>
            </tr>
            <tr>
                <th>PID设定</th>
                <td>{{beng.pids}}Mpa</td>
            </tr>
            <tr>
                <th>PID反馈</th>
                <td>{{beng.pidg}}Mpa</td>
            </tr>
            <tr>
                <th>模块温度</th>
                <td>{{beng.bpqwd}}℃</td>
            </tr>
        </table>
    </div>
    {{each fa value i}}
    {{if value.state === '1'}}
    <div class="fa fa{{i + 1}} fa-on">
        <div class="fa-working" title="阀{{i + 1}}开启"></div>
        <span class="fa-name">阀{{i + 1}}</span>
        <span class="fa-attr trsf" title="土壤水分">水分: {{value.trsf}}%</span>
        <span class="fa-attr kqwd">温度/湿度/光照度: {{value.kqwd}}℃/{{value.kqsd}}%/{{value.gzd}}Klux</span>
        {{if mode === '0'}}
        <button class="fa-closebtn" data-index="{{i+1}}" data-ruleId="{{value.ruleId}}">{{i+1}}号棚关阀</button>
        {{/if}}
    </div>
    {{else if value.state === '0'}}
    <div class="fa fa{{i + 1}} fa-off">
        <div class="fa-stoping" title="阀{{i + 1}}关闭"></div>
        <span class="fa-name">阀{{i + 1}}</span>
        <span class="fa-attr trsf" title="土壤水分">水分: {{value.trsf}}%</span>
        <span class="fa-attr kqwd">温度/湿度/光照度: {{value.kqwd}}℃/{{value.kqsd}}%/{{value.gzd}}Klux</span>
    </div>
    {{else if value.state === '-1'}}
    <div class="fa fa{{i + 1}} fa-off">
        <div class="fa-offline" title="阀{{i + 1}}离线"></div>
        <span class="fa-name">阀{{i + 1}}</span>
        <span class="fa-attr trsf" title="土壤水分">水分: {{value.trsf}}%</span>
        <span class="fa-attr kqwd">温度/湿度/光照度: {{value.kqwd}}℃/{{value.kqsd}}%/{{value.gzd}}Klux</span>
    </div>
    {{/if}}
    {{/each}}

    <div class="app-mode">
        <h2>模式选择</h2>
        <a href="javascript:;" data-mode="0" class="select-mode {{if mode === '0'}}active{{/if}}">手动<br/>模式</a>
        <a href="javascript:;" data-mode="1" class="select-mode {{if mode === '1'}}active{{/if}}">时间<br/>控制<br/>模式</a>
        <a href="javascript:;" data-mode="2" class="select-mode {{if mode === '2'}}active{{/if}}">水分<br/>控制<br/>模式</a>
    </div>
    <div class="app-remote-local">
        {{if beng.remote === '1'}}
        <button class="btn-remote" data-remote="1" data-ruleId="{{beng.ruleId}}">远程控制</button>
        {{else if beng.remote === '0'}}
        <button class="btn-remote" data-remote="0" data-ruleId="{{beng.ruleId}}">本地控制</button>
        {{else}}

        {{/if}}
    </div>
</script>

<div class="app-main">
    <div id="app-animation" class="app-animation">

    </div>
</div>

<script id="tpl-mode-sd" type="text/html">
    <div>1</div>
</script>

<script id="tpl-mode-time" type="text/html">
    <div>2</div>
</script>

<script id="tpl-mode-water" type="text/html">
    <div>3</div>
</script>