<script id="tpl-animation" type="text/html">
    <div class="beng beng-{{if beng.state === '1'}}on{{else}}off{{/if}}">
        <table border="1" class="tb">
            <tr>
                <th>运行频率</th>
                <td>{{beng.pl}}Hz</td>
            </tr>
            <tr>
                <th>运行电流</th>
                <td>{{beng.yxdl}}A</td>
            </tr>
            <tr>
                <th>运行电压</th>
                <td>{{beng.yxdy}}V</td>
            </tr>
            <tr>
                <th>PID设定</th>
                <td>{{beng.pids}}Mpa</td>
            </tr>
            <tr>
                <th>PID反馈</th>
                <td>{{beng.pidg}}Mpa</td>
            </tr>
            <tr>
                <th>模块温度</th>
                <td>{{beng.bpqwd}}℃</td>
            </tr>
        </table>
    </div>
    {{each fa value i}}
    {{if value.state === '1'}}
    <div class="fa fa{{i + 1}} fa-on">
        <div class="fa-working" title="阀{{i + 1}}开启"></div>
        <span class="fa-name">阀{{i + 1}}</span>
        <span class="fa-attr trsf" title="土壤水分">水分: {{value.trsf}}%</span>
        <span class="fa-attr kqwd">温度/湿度/光照度: {{value.kqwd}}℃/{{value.kqsd}}%/{{value.gzd}}Klux</span>
        {{if mode === '0'}}
        <button class="fa-closebtn" data-index="{{i+1}}" data-ruleId="{{value.ruleId}}">{{i+1}}号棚关阀</button>
        {{/if}}
    </div>
    {{else if value.state === '0'}}
    <div class="fa fa{{i + 1}} fa-off">
        <div class="fa-stoping" title="阀{{i + 1}}关闭"></div>
        <span class="fa-name">阀{{i + 1}}</span>
        <span class="fa-attr trsf" title="土壤水分">水分: {{value.trsf}}%</span>
        <span class="fa-attr kqwd">温度/湿度/光照度: {{value.kqwd}}℃/{{value.kqsd}}%/{{value.gzd}}Klux</span>
    </div>
    {{else if value.state === '-1'}}
    <div class="fa fa{{i + 1}} fa-off">
        <div class="fa-offline" title="阀{{i + 1}}离线"></div>
        <span class="fa-name">阀{{i + 1}}</span>
        <span class="fa-attr trsf" title="土壤水分">水分: {{value.trsf}}%</span>
        <span class="fa-attr kqwd">温度/湿度/光照度: {{value.kqwd}}℃/{{value.kqsd}}%/{{value.gzd}}Klux</span>
    </div>
    {{/if}}
    {{/each}}

    <div class="app-mode">
        <h3>模式选择</h3>
        <a id="mode-handle" href="javascript:;" data-mode="0" class="select-mode {{if mode === '0'}}active{{/if}}">手动<br/>模式</a>
        <a id="mode-time" href="javascript:;" data-mode="1" class="select-mode {{if mode === '1'}}active{{/if}}">时间<br/>控制<br/>模式</a>
        <a id="mode-auto" href="javascript:;" data-mode="2" class="select-mode {{if mode === '2'}}active{{/if}}">水分<br/>控制<br/>模式</a>
    </div>
    <div class="app-remote-local">
        {{if beng.remote === '1'}}
        <button class="btn-remote" data-remote="1" data-ruleId="{{beng.ruleId}}">远程控制</button>
        {{else if beng.remote === '0'}}
        <button class="btn-remote" data-remote="0" data-ruleId="{{beng.ruleId}}">本地控制</button>
        {{else}}

        {{/if}}
    </div>
</script>

<div class="app-main">

    <div id="app-animation" class="app-animation">

    </div>
</div>

<script id="tpl-mode-handle" type="text/html">
    <form id="mode-handle-form">
        <table class="table table-responsive text-center">
            {{each falist value i}}
            {{if i % 2 === 0}}
            <tr>
                <td><label for="sw-f{{i+1}}">{{i+1}}号棚</label>&nbsp;&nbsp;&nbsp;&nbsp;<input id="sw-f{{i+1}}" type="checkbox" name="switch" data-size="small"></td>
                <td><label for="sw-f{{i+2}}">{{i+2}}号棚</label>&nbsp;&nbsp;&nbsp;&nbsp;<input id="sw-f{{i+2}}" type="checkbox" name="switch" data-size="small"></td>
            </tr>
            {{/if}}
            {{/each}}
            <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
            <tr class="text-left" >
                <td style="text-indent: 10px;">
                    <label>开泵</label>&nbsp;&nbsp;
                    <input type="text" name="openbeng" class="mode-handle-input">&nbsp;&nbsp;min
                </td>
                <td>
                    <button id="mode-handle-btn-default" class="btn btn-info">使用默认值</button>
                </td>
            </tr>
            <tr class="text-left">
                <td style="text-indent: 10px;">
                    <label>关泵</label>&nbsp;&nbsp;
                    <input type="text" name="closebeng" class="mode-handle-input">&nbsp;&nbsp;s
                </td>
                <td><button id="mode-handle-btn"class="btn btn-info">确认</button></td>
            </tr>
        </table>
    </form>
</script>

<script id="tpl-mode-time" type="text/html">
    <form id="mode-time-form">
        <table class="table table-responsive text-left">
            <tr>
                <td colspan="2">
                    <label>开始时间</label>&nbsp;&nbsp;&nbsp;&nbsp;
                    <input id='start-time' name="startTime" type="text" class="workinput wicon" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <label>开泵延时</label>&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="text" name="startDelay" class="mode-time-input">&nbsp;&nbsp;min
                </td>
                <td>
                    <label>关泵延时</label>&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="text" name="stopDelay" class="mode-time-input">&nbsp;&nbsp;s
                </td>
            </tr>
            {{each falist value i}}
            {{if i % 2 === 0}}
            <tr>
                <td>
                    <label>{{i+1}}号棚</label>&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="text" name="ggsc" class="mode-time-input">&nbsp;&nbsp;min
                </td>
                <td>
                    <label>{{i+2}}号棚</label>&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="text" name="ggsc" class="mode-time-input">&nbsp;&nbsp;min
                </td>
            </tr>
            {{/if}}
            {{/each}}
            <tr class="text-right">
                <td colspan="2">
                    <button id="mode-time-btn-default" class="btn btn-info">使用默认值</button>
                    <button id="mode-time-btn" class="btn btn-info">确定</button>
                </td>
            </tr>
        </table>
    </form>
</script>

<script id="tpl-mode-auto" type="text/html">
    <form id="mode-auto-form">
        <table class="table table-responsive text-left">
            <tr>
                <th>&nbsp;</th>
                <th>水分下限</th>
                <th>灌溉时间</th>
            </tr>
            {{each falist value i}}
            <tr>
                <th class="text-center">{{i+1}}号棚</th>
                <td><input type="text" name="sd" class="mode-auto-input">&nbsp;&nbsp;%</td>
                <td><input type="text" name="ggsc" class="mode-auto-input">&nbsp;&nbsp;min</td>
            </tr>
            {{/each}}
            <tr>
                <th class="text-center">开泵时间</th>
                <td><input type="text" name="openbeng" class="mode-auto-input">&nbsp;&nbsp;min</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <th class="text-center">关泵时间</th>
                <td><input type="text" name="closebeng" class="mode-auto-input">&nbsp;&nbsp;s</td>
                <td><button id="mode-auto-btn-default"class="btn btn-info">使用默认值</button></td>
            </tr>
            <tr>
                <th class="text-center">时间设定</th>
                <td><input type="text" name="setTime" class="mode-auto-input">&nbsp;&nbsp;h</td>
                <td><button id="mode-auto-btn" class="btn btn-info">确定</button></td>
            </tr>
        </table>
    </form>
</script>