<div class="app-report">
    <div class="report-first-page">
        <div class="report-fa">
            <h3>开关阀记录报表</h3>
            <table>
                <thead>
                    <tr>
                        <th width="50">序号</th>
                        <th>时间</th>
                        <th>电磁阀</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <th>1</th>
                    <td>1</td>
                    <td>2</td>
                </tr>
                <tr>
                    <th>2</th>
                    <td>1</td>
                    <td>2</td>
                </tr>
                <tr>
                    <th>3</th>
                    <td>1</td>
                    <td>2</td>
                </tr>
                <tr>
                    <th>4</th>
                    <td>1</td>
                    <td>2</td>
                </tr>
                <tr>
                    <th>5</th>
                    <td>1</td>
                    <td>2</td>
                </tr>
                <tr>
                    <th>6</th>
                    <td>1</td>
                    <td>2</td>
                </tr>
                <tr>
                    <th>7</th>
                    <td>1</td>
                    <td>2</td>
                </tr>
                <tr>
                    <th>8</th>
                    <td>1</td>
                    <td>2</td>
                </tr>
                <tr>
                    <th>9</th>
                    <td>1</td>
                    <td>2</td>
                </tr>
                <tr>
                    <th>10</th>
                    <td>1</td>
                    <td>2</td>
                </tr>
                <tr>
                    <th>11</th>
                    <td>1</td>
                    <td>2</td>
                </tr>
                <tr>
                    <th>12</th>
                    <td>1</td>
                    <td>2</td>
                </tr>
                </tbody>
            </table>
            <div class="report-tools">
                <input id="date-fa" type="text" class="wicon" placeholder="请选择时间">
            </div>
        </div>
        <div class="report-bpq">
            <h3>变频器运行数据报表</h3>
            <table>
                <thead>
                <tr>
                    <th width="50">序号</th>
                    <th>MCGS_Time</th>
                    <th>运行电流</th>
                    <th>运行电压</th>
                    <th>运行频率</th>
                    <th>PID设定值</th>
                    <th>PID反馈值</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>1</th>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                </tr>
                <tr>
                    <th>2</th>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                </tr>
                <tr>
                    <th>3</th>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                </tr>
                <tr>
                    <th>4</th>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                </tr>
                <tr>
                    <th>5</th>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                </tr>
                <tr>
                    <th>6</th>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                </tr>
                <tr>
                    <th>7</th>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                </tr>
                <tr>
                    <th>8</th>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                </tr>
                <tr>
                    <th>9</th>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                </tr>
                <tr>
                    <th>10</th>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                </tr>
                <tr>
                    <th>11</th>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                </tr>
                <tr>
                    <th>12</th>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                </tr>
                </tbody>
            </table>
            <div class="report-tools">
                <input id="date-bpq" type="text" class="wicon" placeholder="请选择时间">
            </div>
        </div>
    </div>
    <div class="report-next-page">
        <div class="report-trsf">
            <h3>土壤水分报表</h3>
        </div>
    </div>
    <button class="report-btn">下一页</button>
</div>