<div class="user-manage">
    <form id="form-pwd">
        <div class="wrapp-input-setpwd">
            <label>请输入旧密码：</label>
            <input name="password" type="password">
        </div>
        <div class="wrapp-input-setpwd">
            <label>请输入新密码：</label>
            <input id='pwd1' name="password" type="password">
        </div>
        <div class="wrapp-input-setpwd">
            <label>请确认新密码：</label>
            <input id='pwd2' name="password" type="password">
        </div>
        <a href="javascript:;" class="btn-setpwd" id="set-pwd">修改密码</a>
    </form>
</div>