<script id="tpl-warning" type="text/html" >
    {{if list.length === 0}}
        <tr>
            <td colspan="3" class="text-center">未查找到数据</td>
        </tr>
    {{/if}}
    {{each list}}
    <tr>
        <td>{{$value.createAt | dateFormat 'yyyy-MM-dd hh:mm:ss'}}</td>
        <td>{{$value.orgName}}</td>
        <td>{{$value.errorName}}</td>
    </tr>
    {{/each}}
</script>
<div class="app-warning">
    <div class="time-select">
        <input type="text" name="start-time" class="form-control" placeholder="起始日期" readonly>
        <input type="text" name="stop-time" class="form-control" placeholder="截止日期" readonly>
        <button class="btn btn-danger" id="warning-search">查询</button>
    </div>
    <div class="content">
        <table class="table table-hover table-bordered table-striped text-center">
            <thead>
            <tr>
                <th class="text-center"><span>时间</span></th>
                <th class="text-center"><span>对象名</span></th>
                <th class="text-center"><span>报警事件</span></th>
            </tr>
            </thead>
            <tbody id="warning-table-body">

            </tbody>
        </table>
    </div>
</div>