.app-main {
  position: relative;
  width: 100%;
  height: 100%;
}
.app-main .app-animation {
  position: absolute;
  top: calc(50% - 262px);
  width: 100%;
  height: 525px;
}

.app-animation .beng {
  position: absolute;
  left: 20px;
  top: 0;
  width: 284px;
  height: 525px;
  background-size: 100% 100%;
}

.app-animation .beng-on {
  background: url("../images/beng-working.gif") no-repeat;
}

.app-animation .beng-off {
  background: url("../images/beng-stoping.png") no-repeat;
}


.app-animation .tb {
  position: absolute;
  bottom: 20px;
  right: 22px;
  width: 172px;
  height: 180px;
  font-size: 14px;
  border-collapse: collapse;
  background: #fff;
}

.app-animation .tb td {
  text-align: center;
}

.app-animation .fa {
  position: absolute;
  left: 304px;
  width: 580px;
  height: 54px;
}

.app-animation .fa-on {
  background: url("../images/fa-working.gif") no-repeat;
  background-size: 454px 54px;
}

.app-animation .fa-off {
  background: url("../images/fa-stoping.png") no-repeat;
  background-size: 454px 54px;
}

.app-animation .fa .fa-name {
  position: absolute;
  top: 4px;
  left: 30px;
  color: #eee;
}

.app-animation .fa .fa-working {
  position: absolute;
  left: 6px;
  top: 4px;
  width: 18px;
  height: 18px;
  background: url("../images/working.png") no-repeat;
}

.app-animation .fa .fa-stoping {
  position: absolute;
  left: 6px;
  top: 4px;
  width: 18px;
  height: 18px;
  background: url("../images/stoping.png") no-repeat;
}

.app-animation .fa .fa-offline {
  position: absolute;
  left: 6px;
  top: 4px;
  width: 18px;
  height: 18px;
  background: url("../images/abort.png") no-repeat;
}

.app-animation .fa .fa-closebtn {
  position: absolute;
  right: 0;
  bottom: 2px;
  width: 80px;
  height: 26px;
  font-size: 12px;
  color: #000;
  background: url("../images/btn_hover.png") no-repeat;
  background-size: 100% 100%;
}

.app-animation .fa .fa-attr {
  position: absolute;
  top: 28px;
  left: 392px;
  color: #eee;
  font-size: 12px;
}
.app-animation .fa .trsf {
   top: 32px;
   left: 390px;
 }

.app-animation .fa .kqwd {
  top: 8px;
  left: 302px;
  letter-spacing: 1px;
}

.app-animation .fa .kqsd {
  top: 10px;
  left: 392px;
}

.app-animation .fa .gzd {
  top: 10px;
  left: 480px;
}
.app-animation .fa1 {
  top: 1.9047%;
}

.app-animation .fa2 {
  top: 14.2587%;
}

.app-animation .fa3 {
  top: 26.6667%;
}

.app-animation .fa4 {
  top: 39.0476%;
}

.app-animation .fa5 {
  top: 51.4285%;
}

.app-animation .fa6 {
  top: 63.8095%;
}

.app-animation .fa7 {
  top: 76.1904%;
}

.app-animation .fa8 {
  top: 88.5714%;
}

.app-mode {
  position: absolute;
  left: calc(392px + 50%);
  //top: calc(50% - 214px);
  width: 102px;
  border-radius: 6px;
  h2 {
    margin-bottom: 30px;
  }
}

.app-mode a {
  display: block;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  padding-top: 24px;
  margin-bottom: 30px;
  text-align: center;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  background: url("../images/mode-bg.png") no-repeat;
  background-size: 100% 100%;
  letter-spacing: 2px;
  &:hover, &.active {
    background: url("../images/mode-hover.png") no-repeat;
    background-size: 100% 100%;
  }
  &:nth-child(2) {
    padding-top: 30px;
  }
}

.app-remote-local {
  position: absolute;
  left: 20px;
  top: 10px;
  button {
    padding: 10px 20px;
    font-size: 12px;
    background: rgb(192, 192, 192);
  }
}