.app-report {
  position: relative;
  width: calc(100% - 120px);
  height: calc(100% - 60px);
  margin-left: 60px;
  margin-top: 30px;
  overflow: hidden;
}

.time-select {
  position: absolute;
  right: 0;
  width: 416px;
}
.time-select input {
  position: absolute;
  top: 2px;
  width: 160px;
}
.time-select button {
  position: absolute;
  right: 0;
}
.time-select input[name="start-time"] {
  left: 0px;
}
.time-select input[name="stop-time"] {
  left: 180px;
}

.wicon {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAQCAYAAADj5tSrAAAABHNCS…ZwERNEFFkCiw90nxJtCalxQmzegltCzVyP1RJq5HZ8AABuNZr0628DMwAAAABJRU5ErkJggg==);
  background-repeat: no-repeat;
  background-position: right center;
}
.tab-content {
  width: 100%;
  height: calc(100% - 44.4px);
  //background: red;
}

.tab-pane {
  height: calc(100% - 20px);
  background: rgba( 255, 255, 255, 1);
}

.report-page {
  margin-top: 20px;
  //background: rgba(255, 255, 255, 0.9);
}

.nav-tabs a {
  background: #428bca;
  color: #fff;
  &:hover {
    color: #000;
  }
}