.app-report {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: red;
}

.wicon {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAQCAYAAADj5tSrAAAABHNCS…ZwERNEFFkCiw90nxJtCalxQmzegltCzVyP1RJq5HZ8AABuNZr0628DMwAAAABJRU5ErkJggg==);
  background-repeat: no-repeat;
  background-position: right center;
}