.app-report {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.report-first-page, .report-next-page{
  width: calc(100% - 20px);
  height: calc(100% - 80px);
  margin-left: 10px;

  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.report-fa {
  float: left;
  margin-right: 16px;
  width: calc(36% - 16px);
  height: 100%;
  vertical-align: middle;
}
.report-fa h3, .report-bpq h3 {
  margin: 30px 0 40px 0;

  text-align: center;
  color: #fff;
  font-weight: normal;
  letter-spacing: 4px;
}
.report-tools {
  position: relative;
  height: 46px;
  line-height: 46px;
  background: #ddd;
}

.report-tools input {
  position: absolute;
  right: 6px;
  top: 6px;
  width: 130px;
  height: 30px;
  text-indent: 6px;
}

.app-report table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
}
.app-report table tr {
  height: 26px;
}
.app-report table th{
  background: rgb(240, 240, 240);
  border: 1px solid #000;
}
.app-report table td{
  border: 1px solid #f0f0f0;
}
.report-bpq {
  float: right;
  width: 64%;
  height: 100%;
}
.report-next-page {
  display: none;
}

.report-btn {
  float:right;
  margin-top: 6px;
  margin-right: 24px;
  display: block;
  width: 164px;
  height: 59px;
  line-height: 59px;
  text-align: center;
  border: none;
  font-size: 18px;
  color: #000;
  letter-spacing: 2px;
  background: url("../images/loginbtn.png") no-repeat;
  background-size: 100% 100%;

  &:hover {
    background: url("../images/btn_hover.png") no-repeat;
  }
}

.wicon {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAQCAYAAADj5tSrAAAABHNCS…ZwERNEFFkCiw90nxJtCalxQmzegltCzVyP1RJq5HZ8AABuNZr0628DMwAAAABJRU5ErkJggg==);
  background-repeat: no-repeat;
  background-position: right center;
}