.app-warning {
  position: relative;
  width: calc(100% - 160px);
  height: calc(100% - 40px);
  margin-left: 80px;
  margin-top: 20px;
}

.app-warning .time-select {
  right: 0px;
}

.app-warning .content {
  position: absolute;
  top: 60px;
  width: 100%;
  height: calc(100% - 70px);
  background: rgba(255,255,255,1);
  overflow-x: hidden;
}
